{{#if shouldShowSaveMessage}}
<div class="alert alert-success" role="alert">SAVED!</div>
{{/if}}

{{#bs-form formLayout="horizontal" model=model action="save"}}
  {{bs-form-element controlType="name" label="Name" placeholder="Name" property="name"}}
  {{bs-form-element controlType="value" label="Value" placeholder="Value" property="value"}}

  {{#if model.image_thumb_url}}
  <img src={{model.image_thumb_url}} alt="{{model.name}}">
  {{/if}}
  <input type='file' id='file-field'/>
  <p></p>

  {{bs-button defaultText="Save" type="primary" buttonType="submit" disabled=isNotValid}}
{{/bs-form}}
