<div class="col-md-12 center-block loading-screen">
  {{!-- {{fa-icon "spinner" spin=true size=5}}
  {{fa-icon "circle-o-notch" spin=true size=5}}--}}
  {{fa-icon "refresh" spin=true size=5}}
  {{!-- {{fa-icon "cog" spin=true size=5}} --}}
  {{!-- {{fa-icon "spinner" pulse=true size=5}} --}}
</div>
